* {
  text-decoration: none;
}
body {
  background-color: #f2f3f5;
}

.nav-bar-top {
  color: #a9a9a9;
  background-color: #0b0b31;
}

.nav-div-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 2rem;
  padding-right: 2rem;
  font-size: 0.5rem;
}

.nav-div-top li {
  list-style: none;
  display: inline-block;
}

a {
  color: #a9a9a9;
}

.nav-bar-main {
  color: #ffffff;
}
